html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

*,
*::after,
*::before{
    box-sizing: inherit;

}
main{

}

body{
    background-color:#dbf1fd;
    font-family: 'Open Sans', sans-serif;
    
}



/* ---------------- HEADER ---------------- */

.site-header{
    background-color: #073452;
    height: 64px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    margin: 0 50px;

}
.menu__list{
    display: flex;
    
}

.menu__list li {
    list-style-type: none;
}
a{
    text-decoration: none;
}

.menu__list li{
    margin-left: 30px;
}
.menu__list a{
    color: white;
    font-family: "HP Simplified", sans-serif;
    font-size: 18px;
    
}




/* ---------------- MAIN - SLAIDER ----------------*/

.top{
    background-image: url(image/fon1.png);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover; /* Масштабируем фон */
    
}
.top-bg{
   background: #073452;
   opacity: 0.92; 
   height: 500px;
   

}

.top__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.top_info {
    max-width: 330px;
    margin-right: 40px;

}
.title{
    color:#fff;
    font-size: 44px;
    font-weight: 400px;
    line-height: 55px;
    letter-spacing: 3px;
    font-family: 'Merriweather', serif;
    margin-bottom: 0px;

}
.tagline{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
    margin-top: 10px;
}

.top_image {
    padding-top: 40px;
}

.top-image_box {
    margin-left: 100px;
}



/* ------- WE HELP YOU ------ */
.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    padding-bottom: 20px;

}

.service-hd{
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 0;
   
}
.service__inner li{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #8dbdd8;
    position: relative;
    padding-left: 65px;
    line-height: 40px;
}
.service__inner li{
    list-style-type: none;
    
}

.service__inner li::before{
    content: "";
    background-image: url(image/service-icon.png);
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-65%);
}
.service-mar{
    width: 600px;
}
.image__one img{
    width: 442px;
    height: 348px;
    position: relative;
    bottom: 10px;
}





/* ------- 6 ПРИЧИН ------- */
.reason{
    background-color: #fff;
    font-family: 'Merriweather', serif;
  
}

.reason__head{
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
}
.reason__list li{
    list-style-type: none;
    
}
.reasons-block{
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0 100px;
    flex-direction: row;
    
}
.reason-column{
    flex: 1 0;
	width: 50%;
}
.reason__list li h4 {
    color: #555555;
}

.reason__list p{
    color: #7d7d7d;
}
